# Jupyter notebooks checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.ipynb_checkpoints

# Banco de dados exportado
bancodados.sql
*.sql

# Cache do Python
__pycache__/
*.pyc

# Arquivos de ambiente
.env
.venv/
env/
venv/

# Editor
.vscode/
*.code-workspace

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivo criado
Untitled.ipynb